<a href="https://colab.research.google.com/github/gwenwindflower/notebooks/blob/main/book_blog.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import requests
import json
import pandas as pd
import matplotlib.pyplot as plt

In [13]:
response = requests.get('https://gwenwindflower.github.io/api/books')

The below cell selects the response text, which has the data itself from the api, and runs it through `json.loads` to make it readable json in python. Then we use pandas' `normalize_json` to unnest the nested json dictionaries into flat rows.

In [15]:
books = pd.json_normalize(json.loads(response.text))

In [16]:
books

,path,meta.title,meta.author,meta.genres,meta.updatedAt,meta.status
0,/books/frankenstein,Frankenstein,Mary Shelley,[horror],2023-01-05T00:00:00.000Z,NaN
1,/books/girl-with-curious-hair,Girl with Curious Hair,David Foster Wallace,[short stories],2023-01-05T00:00:00.000Z,NaN
2,/books/autonomous,Autonomous,Annalee Newitz,[sci-fi],2022-01-04T00:00:00.000Z,NaN
3,/books/her-body-and-other-parties,Her Body and Other Parties,Carmen Maria Machado,"[horror, short stories]",2022-01-04T00:00:00.000Z,NaN
4,/books/the-blind-assassin,The Blind Assassin,Margaret Atwood,[modern],2022-01-04T00:00:00.000Z,paused