<a href="https://colab.research.google.com/github/gwenwindflower/notebooks/blob/main/nyc_subway_routes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install requests

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (2.25.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests) (2022.12.7)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests) (1.24.3)

In [ ]:
from google.colab import auth
auth.authenticate_user()

In [ ]:
import requests
import json
import pandas as pd

In [ ]:
response = requests.get('https://gwenwindflower.github.io/api/books')

In [ ]:
data = response.text
parsed = json.loads(data)
parsed

[{'meta': {'title': 'Frankenstein',
   'author': 'Mary Shelley',
   'genres': ['horror'],
   'updatedAt': '2023-01-05T00:00:00.000Z'},
  'path': '/books/frankenstein'},
 {'meta': {'title': 'Girl with Curious Hair',
   'author': 'David Foster Wallace',
   'genres': ['short stories'],
   'updatedAt': '2023-01-05T00:00:00.000Z'},
  'path': '/books/girl-with-curious-hair'},
 {'meta': {'title': 'Autonomous',
   'author': 'Annalee Newitz',
   'genres': ['sci-fi'],
   'updatedAt': '2022-01-04T00:00:00.000Z'},
  'path': '/books/autonomous'},
 {'meta': {'title': 'Her Body and Other Parties',
   'author': 'Carmen Maria Machado',
   'genres': ['horror', 'short stories'],
   'updatedAt': '2022-01-04T00:00:00.000Z'},
  'path': '/books/her-body-and-other-parties'},
 {'meta': {'title': 'The Blind Assassin',
   'author': 'Margaret Atwood',
   'genres': ['modern'],
   'status': 'paused',
   'updatedAt': '2022-01-04T00:00:00.000Z'},
  'path': '/books/the-blind-assassin'}]

In [ ]:
df = pd.read_json(data)

In [ ]:
df = pd.json_normalize(parsed)

In [ ]:
df.explode('meta.genres')

,path,meta.title,meta.author,meta.genres,meta.updatedAt,meta.status
0,/books/frankenstein,Frankenstein,Mary Shelley,horror,2023-01-05T00:00:00.000Z,NaN
1,/books/girl-with-curious-hair,Girl with Curious Hair,David Foster Wallace,short stories,2023-01-05T00:00:00.000Z,NaN
2,/books/autonomous,Autonomous,Annalee Newitz,sci-fi,2022-01-04T00:00:00.000Z,NaN
3,/books/her-body-and-other-parties,Her Body and Other Parties,Carmen Maria Machado,horror,2022-01-04T00:00:00.000Z,NaN
3,/books/her-body-and-other-parties,Her Body and Other Parties,Carmen Maria Machado,short stories,2022-01-04T00:00:00.000Z,NaN
4,/books/the-blind-assassin,The Blind Assassin,Margaret Atwood,modern,2022-01-04T00:00:00.000Z,paused

In [ ]:
import matplotlib

In [ ]:
import pandas as pd

project_id = 'dbt-bq-public-datasets'

df = pd.io.gbq.read_gbq('''
  SELECT * FROM `bigquery-public-data.new_york_subway.routes`
''', project_id=project_id)

hello

In [ ]:
df

,route_id,route_short_name,route_long_name,route_describe,route_type
0,GS,S,42 St Shuttle,Operates in Manhattan between Grand Central an...,1
1,E,E,8 Avenue Local,Trains operate between Jamaica Center (Parsons...,1
2,C,C,8 Avenue Local,"Trains operate between 168 St, Manhattan, and ...",1
3,R,R,Broadway Local,Trains operate local between Forest Hills-71 A...,1
4,N,N,Broadway Local,"Trains operate from Astoria-Ditmars Boulevard,...",1
5,W,W,Broadway Local,"Trains operate from Astoria-Ditmars Boulevard,...",1
6,7,7,Flushing Local,"Trains operate between Main St-Flushing, Queen...",1
7,J,J,Nassau St Local,Trains operate weekdays between Jamaica Center...,1
8,D,D,6 Avenue Express,"Trains operate, at all times, from 205 Street,...",1
9,B,B,6 Avenue Express,"Trains operate, weekdays only, between 145 St,...",1
10,3,3,7 Avenue Express,"Trains operate between 148 St, 7 Av, Manhattan...",1
11,2,2,7 Avenue Express,"Trains operate between Wakefield-241 St, Bronx...",1
12,A,A,8 Avenue Express,"Trains operate between Inwood-207 St, Manhatta...",1
13,Q,Q,Broadway Express,"Trains operate between 96 St-2 Av, Manhattan, ...",1
14,7X,7X,Flushing Express,"Trains operate between Main St-Flushing, Queen...",1
15,Z,Z,Nassau St Express,Trains operate weekday rush hours only. During...,1
16,FX,FX,Brooklyn F Express,Trains operate rush hour only between Jamaica-...,1
17,L,L,14 St-Canarsie Local,"Trains operate between 8 Av/14 St, Manhattan, ...",1
18,H,S,Rockaway Park Shuttle,Service operates at all times between Broad Ch...,1
19,6,6,Lexington Avenue Local,Local trains operate between Pelham Bay Park/B...,1
20,FS,S,Franklin Avenue Shuttle,Train provides full time connecting service be...,1
21,6X,6X,Pelham Bay Park Express,Express trains operate between Pelham Bay Park...,1
22,5X,5X,Lexington Avenue Express,"Weekdays daytime, most trains operate between ...",1
23,5,5,Lexington Avenue Express,"Weekdays daytime, most trains operate between ...",1
24,4,4,Lexington Avenue Express,Trains operate daily between Woodlawn/Jerome A...,1
25,1,1,Broadway - 7 Avenue Local,Trains operate between 242 St in the Bronx and...,1
26,G,G,Brooklyn-Queens Crosstown,"Trains operate between Court Square, Queens an...",1
27,M,M,Queens Blvd Local/6 Av Local,Trains operate between Middle Village-Metropol...,1
28,F,F,Queens Blvd Express/ 6 Av Local,Trains operate at all times between Jamaica-17...,1
29,SI,SIR,Staten Island Railway,Service runs 24 hours a day between the St Geo...,2